
  body {
    font-family: "Varta", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    }

  iframe {
      width: 90%;
      max-width: 600px;

    }
  
  h1 {
    font-family: "Varta", serif;
    font-weight: 900;
    font-style: bold;
  }
    
  h2 {
      font-family: "Varta", serif;
      font-weight: 700;
      font-style: normal;
  
      
    }
  
  h3 {
      font-family: "Varta", serif;
      font-weight: 700;
      font-style: italic;
  
      
    }
  
  p { 
      max-width: 600px;
      text-align: justify;
      }

div.top {
  padding:0;
  padding-bottom: 2em;
  margin: 0;
  position: relative;
  text-align:center;
  
}
div.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 237, 237, 0.468);
}

img {
    opacity: 0.5;
    border: 0;
    height: 50vh;
    width: auto;
    object-fit: cover;
}

div.pullquote {
  border-style: solid;
  border-color: white orange white orange;
  max-width: 800px;
  margin: 2em;
  font-style: italic;
  font-weight: 700;
  color: orangered;
  font-size: 1.25em;
  text-align: center;
}

div.section {
    font-style: bold; 
    font-weight: 700;
    color: orangered;
    padding: 1em;
}

div.caption {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: italic;
    text-align: right;
    font-size: 0.7rem;
  }

@media (min-width: 991px) {
    h1 {
      font-size: 3.5em;
      line-height: 1.2;
    }

    h2 {
      font-size: 2em;
      line-height: 1.2;

    }

    h3 {
      font-size: 1em;
      text-align: center;
    }

    p {
      padding-right: 4em;
      padding-left: 4em;
    }


  }

@media (min-width: 601px) and (max-width: 991px) {
    h1 {
      font-size: 1.8em;
      line-height: 1;
    }

    h2 {
      font-size: 1.3em;
      line-height: 1;

    }

   
    p {
      padding-right: 1em;
      padding-left: 1em;
    }

  }
  
@media (max-width: 600px) {
    h1 {
      font-size: 1.25em;
      padding-top: 0;
    }

    h2 {
      font-size: 1em;

    }
    h3 {
      font-size: 0.75em;
      text-align: center;
    }

    p {
      padding-right: 1.5em;
      padding-left: 1.5em;
      
    }

  }